doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    //script(src='/js/generate.js')
    title Dashboard
  body
    .container-fluid
      .row
        .col-md-12
          h3.text-center
            | Simple Password Generator
      .row
        .col-md-6
          h2
            | Get Password
          p
            | This program allows users to generate and store passwords for later use.
          - var userprofile = user
          form.form-horizontal(role='form',action='/add', method='post',name = 'passgen')
            .form-group
              input(type='hidden', name='uname',id='uname',value= userprofile)
              label.col-sm-2.control-label(for='url')
                | Website Name/URL
              .col-sm-10
                input#inputurl.form-control(type='text',name='url')
            .form-group
              label.col-sm-2.control-label(for='username')
                | Username
              .col-sm-10
                input#inputname.form-control(type='text',name='username')
            .form-group
              .col-sm-offset-2.col-sm-10
                button.btn.btn-default(type='button',class='button',onClick='genFunc()')
                  | Generate
            .form-group
              .col-sm-12
                input.form-control(type='text', placeholder='Your Password Here',name='password',id="password")
            .form-group
              .col-sm-offset-2.col-sm-10
                button.btn.btn-default(type='submit')
                  | Use This Password
        .col-md-6
          h3
            | Stored Passwords
          table.table
            thead
              tr
                th
                  | #
                th
                  | Website
                th
                  | Username
                th
                  | Password
                th
                  | Action
            tbody
              - for(var i=0; i<passwords.length; i++)
                //- console.log("00000000003423sds")
                - var pass = passwords[i].url
                tr
                    td
                        p  
                            = i+1
                    td
                        p  
                            = passwords[i].url 
                    td
                        p  
                            = passwords[i].username
                    td
                        p  
                            = passwords[i].password
                    td
                        button.remove-pass(data-id=passwords[i].password) Delete

script.
    //document.getElementById("uname").value = user;
    console.log(user);
    function genFunc() {
       var length = 10;
       var chars = "abcdefghijklmnopqrstuvwxyz!@#$%^&*()-+<>ABCDEFGHIJKLMNOP1234567890";
            var pass = "";
            for (var x = 0; x < length; x++) {
                var i = Math.floor(Math.random() * chars.length);
                pass += chars.charAt(i);
            }
            console.log (pass);
            document.getElementById("password").value = pass;
            }
     $('buttons.remove.doc').on('click', function() {
      var userId = $(this).attr('data-id');
      $.ajax({
         method: "POST",
         url: "/delete",
         data: {"userId": userId},
         success: function(result) {
            if(/* check if it is ok */) {
                location.reload();
            }
         }
      })
   });

  
